body {
    font-family: "Roboto", sans-serif;
    line-height: 1.8;
    scroll-behavior: smooth;
}
/* For WebKit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background:linear-gradient(rgba(17, 7, 255 ), rgba(0, 224, 255 ));;
  }
  
  /* For Firefox */
  ::-moz-scrollbar {
    width: 10px;
  }
  
  ::-moz-scrollbar-thumb {
    background:linear-gradient(rgba(17, 7, 255 ), rgba(0, 224, 255 ));;
  }
  





  


:root {
    --brand-color: #01392b;
    --label-text-color:#5F5F5F;
    --grey-grey-100: #fafafa;
    --placeholder-color:#4B506D;
    --submit-blue-color:#007E94;
    --title-dark-color:#01392B;
    --secondary-grey-color: #f5f5f5;
    --link-hovered-color: GREEN;
    --principal-color : #01392B;
    --grey-50: #EBEBEB;
    --orange-color: #FFA500;
    --sidebar-li-color: wheat;
    --secondary-grey2-color:#ECECF8;
    --sidebar-width: 210px;
    --thead-color: #F5FFFC;
    --nature-color: #8CE2AD;
    --WeekEnd-box-color: #C2C2C2;
    --presence-hour-color: #3498db;
    --repos-color: #e74c3c;
    --ferie-color: pink;
    --heures-suplementaires-color:#2ecc71;
    --my-blue-color: #2196F3;
    --danger-color: #DC6803;
    
}
.c-orange{
    color: var(--orange-color);
}
.c-nature {
    color: var(--nature-color);
}

.bg-WeekEnd-box-color {
    background-color: var( --WeekEnd-box-color)!important;
}
.bg-presence-hour-color {
    background-color: var( --presence-hour-color)!important;
}
.bg-nature-color {
    background-color: var( --nature-color)!important;
}
.bg-brand{
    background-color: var(--brand-color);
}
.bg-l-h-c {
    background-color: var(--link-hovered-color)!important;
}
.bg-red {
    background-color: red;
}
.bg-my-blue-color {
    background-color: #2196F3;
}
.bg-danger-color {
    background-color: #DC6803;
}



section{
    padding-top: 10px;
    padding-bottom: 50px;
    position: relative;
}
img{
    max-width: 100%;

}
ul li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    
    font-weight: 700;
}

a {
    text-decoration: none;
    
    transition: all 0.4s ease;
}

