@use './layout/global-rules';
@use './layout/navbar';
@use './pages/home';
@use './layout/footer' ;
@use './helpers/mixin' as *;
// main.scss
//i want to customize the date picker 
// Import Vuetify's styles
@import '~vuetify/dist/vuetify.min.css';


.v-application#app {
    height: 400px;
    .v-application--wrap {
        min-height: auto !important;
        display: flex;
        align-items: center;
        justify-content: center;
        .v-picker {
            border:1px solid #eee

        }
    }
    .v-picker__title{
        width: 290px;

    }
}

.v-date-picker {
  background-color: #f0f0f0; /* Changing the date picker background color */
}
// now lets customize the month picker 
.month-picker__container{
    margin: auto;
}
.month-picker__year {
    button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  
}
section  {
    // flex: 1; /* Let the content take up the remaining width */
    // padding: 20px;
    // background-color: #fff;
    // overflow: hidden; /* Hide any content that overflows the content area */
    padding-left: calc(var(--sidebar-width) + 25px);
}
body [data-aos]{
    transition-duration: 99000ms;
  }